doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title login
        link(rel="stylesheet", href="../CSS/admin.css")
        link(href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet")
    body 
        section(class="wrapper")
            span(class="logo") Whereineedbear
            div(class="login")
                div
                    input(type="text" placeholder="ID" class="input")
                div
                    input(type="text" placeholder="password" class="input")
                button(class ="login-button") Login
                