/* css는 따로 추가한 내용 없습니다 */

* {
	box-sizing: border-box;
	margin:0;
	font-family:'Lato', sans-serif;
}


a {
	display: inline-block;
	width: 60px;
	text-decoration: none;
	color:black;
}

/* .top-menu{
	display: block;
	width: 40px;

} */

.button {
	margin:0;
	outline: none;
	background-color: #FFF;
	border: 1px solid #FFF;
	height: 60px;
}


.header{
	position: relative;
}

.drop-down {
	margin:16px;
	width: 28px;
	height: 28px;
}

.drop-down-menu {
	position: fixed;
	width: 100vw;

}

.main-menu{
	display: none;

	margin-left: 24px;
	top:40px;
	left: 60px;
	font-weight: 100;
	font-size: 28px;
	color:#000;
	width: 100vw;
}

.main-menu.show {
	display: block;
	height: 80px;
	background-color:rgba( 255, 255, 255, 0.5 );
	transition: all 14s ease-in;

}



.main-menu a {
	display: block;
	color: #000;
	margin-top: 20px;
	letter-spacing: -0.08em;

}


.title {
	position: fixed;
	top: 14px;
	left: 148px;
	color: #000;
}

.login-button {
	position: fixed;
	top: 0;
	right: 0px;
	margin:16px;
	width: 28px;
	height: 28px;
}
