* {
	font-family: 'Libre Baskerville', serif;
	box-sizing: border-box;
	margin:0;
	
}

.container2{
	width: 100vw;
	height: 100vh;
	background-color: white;
 }
 
 
 #tempSelect {
	/* border: solid 1px red; */
	margin: 50px auto 10px ;
	display: block;
	font-size: 55px;
	
	border: none;
	text-align: center;
 }
 
 .btn1 {
	background-color: #fff;
	cursor: pointer;
	border: 1px solid gray;
	border-radius: 25px;
	margin: 15px 10px;
	padding: 5px 15px;
 }
 
 .btnBox{
	text-align: center;
 }
 
 .contain {
	/* border: solid 2px green; */
	width: 100vw;
	margin: auto;
	text-align: center;
 }
 
 
 #imgBox{
	/* border: solid 1px orange;
	background-color: lightsalmon; */
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	background-color: #fff;
 }
 
 #imgItem{
	/* border: solid 1px green; */
	 width: 71vw;
	 margin: 0 18px 36px;
	
 }
 
 
 #imgBox > #imgItem >img {
	width: 300px;
	height: 400px;
	object-fit: cover;
	/* margin: 15px;
	display: inline-block; */
 }

/*============== side-bar ============== */

.sideBar {
	margin: 20px 30px;
}
/* 
.sideBar-ico input[type=checkbox] {
	display: none;
} */

.sideBar > ul  {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.menuItem {
	display: none;
}

.sideBar-ico > span:last-child {
	display: none;
}

/* .sideBar-ico input[type=checkbox]:checked ~ .menuItem {
	display: block;
} */

input#sideBarItem:checked ~.menuItem{
	display: block;
}


/* .sideBar-ico > span:first-child:click~ .menuItem{
	display: block;
} */


 @media screen and  (min-width:768px) and (max-width: 1023px) {

	#imgBox{
		flex-direction: column;
		justify-content: center;
		align-items: center;

	}

	#imgItem{
		width: 100%;
		text-align: center;
		margin-top: 30px;
	}

	#imgBox > #imgItem > img{
		width: 100vw;
		height: auto;
		margin: 0px;
		margin-bottom: 130px;
		object-fit: cover;
	}
	.btnBox{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

	}

	.btnItem{
		width: 100%;

	}

	.btn1 {
		font-size: 17px;
		padding: 8px 20px;
		margin: 8px 5px;
	}



}

 
@media screen and (max-width: 767px){

	.container2{
		padding: 0px;
		margin: 0px;
	}

	#tempSelect{
		font-size: 45px;
		text-align: center;
	}

	.btnBox{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

	}

	.btnItem{
		width: 100%;
		padding: 4px 4px;
		margin-bottom: 20px;

	}

	.btn1 {
		font-size: 15px;
		margin: 8px 5px;
	}

	#imgBox{
		flex-direction: column;
		justify-content: center;
		align-items: center;

	}

	#imgItem{
		width: 100%;
		text-align: center;
	}

	#imgBox > #imgItem > img{
		width: 100vw;
		height: 600px;
		margin: 0px;
		margin-bottom: 70px;
		object-fit: cover;
	}
}