<<<<<<< Updated upstream
*{
    padding: 0;
    margin: 0;
}
/* .select_input {
    border: none;
    background: transparent;
} */


#selectBox {
    /* border: solid 1px red; */
    margin: 50px auto 20px auto;
    display: block;
    font-size: 55px;
    border: none;
}

.wheather {
    /* border: solid 1px red; */
    display: inline-block;
    margin:10px 60px;
    font-size: 20px;
}

.container {
    /* border: solid 2px green; */
    max-width: 74vw;
    margin: 130px auto  auto;
    /* margin 위 양옆 아래 */

}

.content {
    /* border: solid 1px blue; */
    width: 100%;
    margin: auto;
    text-align: center;


}

.imgBox{
     /* background-color: pink; */
    display: inline-block;
    width: 23%;
    padding: 11px;
    height: auto;
    object-fit: cover;


}

.container > .content > li > img{
    width: 100%;


}

#imgBox {
    /* border: solid 2px orange; */
    width: 100%;
    margin: auto;
    text-align: center;
}

.container > #imgBox > img {
    /* border: solid 3px blueviolet; */
    width: 300px;
    height: 455px;
    object-fit: cover;
    margin: 15px ;
    display: inline-block;
}
=======
* {
	font-family: 'Libre Baskerville', serif;
	box-sizing: border-box;
	margin:0;
	
 }
 
 .container2{
 width: 100vw;
 height: 100vh;
 background-color: #fff;
 }
 
 
 #tempSelect {
 /* border: solid 1px red; */
 margin: 50px auto 10px ;
 display: block;
 font-size: 55px;
 
 border: none;
 text-align: center;
 }
 
 .btn1 {
 background-color: #fff;
 cursor: pointer;
 border: 1px solid gray;
 border-radius: 25px;
 margin: 15px 10px;
 padding: 5px 15px;
 }
 
 .btnBox{
   text-align: center;
 }
 
 .contain {
 /* border: solid 2px green; */
 width: 100vw;
 margin: auto;
 text-align: center;
 }
 
 /* #imgBox {
 border: solid 2px orange;
 background-color: pink;
 display: inline-block;
 padding: 0px;
 height: auto;
 object-fit: cover;
 width: 100%;
 margin: auto;
 text-align: center;
 background-color: #fff;
 } */
 
 #imgBox{
	/* border: solid 1px orange;
	background-color: lightsalmon; */
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	background-color: #fff;
 
	
 }
 
 #imgItem{
	
	/* border: solid 1px green; */
	 width: 71vw;
	 margin: 0 18px 36px;
	
	
	
 }
 
 
 #imgBox > #imgItem >img {
	
 
 width: 300px;
 height: 400px;
 object-fit: cover;
 /* margin: 15px;
 display: inline-block; */
 }
 
  
>>>>>>> Stashed changes
