* {
  font-family: 'Libre Baskerville', serif;
  box-sizing: border-box;
  margin: 0;
}
body,
html {
  height: 100vh;
}
.container2 {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

#tempSelect {
  /* border: solid 1px red; */
  margin: 10px auto 20px;
  display: block;
  font-size: 55px;

  border: none;
  text-align: center;
}

.btn1 {
  background-color: #fff;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 25px;
  margin: 15px 10px;
  padding: 5px 15px;
}

.btnBox {
  text-align: center;
  margin-bottom: 30px;
}

.contain {
  /* border: solid 2px green; */
  width: 100vw;
  margin: auto;
  text-align: center;
}

#imgBox {
  /* border: solid 1px orange;
	background-color: lightsalmon; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  background-color: #fff;
}

#imgItem {
  /* border: solid 1px green; */
  width: 71vw;
  margin: 0 18px 36px;
}

#imgBox > #imgItem > img {
  width: 300px;
  height: 400px;
  object-fit: cover;
}

/*============== side-bar ============== */

.sideBar input[type='checkbox'] {
  display: none;
}
.sideBar-ico > span {
  padding: 20px;
  display: inline-block;
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 2rem;
}
.menuItem {
  display: none;
  width: 300px;
  height: 100vh;
  top: 0;
  background-color: white;
  border-right: 1px solid gray;
  position: fixed;
  z-index: 0;
  left: -3000px;
  padding-top: 6.25rem;
}

.menuItem a {
  color: black;
  text-decoration: none;
}

.menuItem span {
  margin-bottom: 20px;
  margin-left: 20px;
  font-weight: 700;
  font-size: 30px;
  display: block;
  background-color: #fff;
  border: 7px;
  border-color: white;
}

.sideBar-ico > span:last-child {
  display: none;
}

.sideBar-ico {
  background-color: none;
}

.sideBar input[type='checkbox']:checked ~ .menuItem {
  display: block;
  position: absolute;
  left: 0;
}

.sideBar input[type='checkbox']:checked ~ .sideBar-ico span:first-child {
  display: none;
}

.sideBar input[type='checkbox']:checked + label span:last-child {
  z-index: 3;
  display: block;
  color: black;
}

/* .sideBar input[type=checkbox] {
	display: none;
}

.menuItem a {
	color: black;
	text-decoration: none;
}

.sideBar-ico span:last-child {
	display: none;
}

.menuItem {
	display: none;
	background-color: gainsboro;
	width: 300px;
	height: 100%;
	top: 0;
	position: fixed;
	z-index: 1;
	left: -3000px;
	transition: all .35s; 
}

.sideBar input[type=checkbox]:checked+label+div .menuItem{
	display: block;
	left: 0;
}

.sideBar input[type=checkbox]:checked~ .sideBar-ico span:first-child {
	display: none;

}

.sideBar input[type=checkbox]:checked~ .sideBar-ico span:last-child {
	display: block;
	position: fixed;
	z-index: 30;
} */

/* ===================== 반응형 =================== */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #imgBox {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #imgItem {
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  #imgBox > #imgItem > img {
    width: 100vw;
    height: auto;
    margin: 0px;
    margin-bottom: 130px;
    object-fit: cover;
  }
  .btnBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto 15px auto;
  }

  .btnItem {
    width: 100%;
    margin: 0px;
  }

  .btn1 {
    font-size: 17px;
    padding: 8px 20px;
    margin: 8px 5px;
  }
}

@media screen and (max-width: 767px) {
  .container2 {
    padding: 0px;
    margin: 0px;
  }

  #tempSelect {
    font-size: 45px;
    text-align: center;
  }

  .btnBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 15px auto 35x auto;
  }

  .btnItem {
    width: 100%;
    padding: 4px 4px;
  }

  .btn1 {
    font-size: 15px;
    margin: 8px 5px;
  }

  #imgBox {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #imgItem {
    width: 100%;
    text-align: center;
  }

  #imgBox > #imgItem > img {
    width: 100vw;
    height: 600px;
    margin: 0px;
    margin-bottom: 70px;
    object-fit: cover;
  }
}

/* 좋아요 하트 */
svg {
  cursor: pointer;
  overflow: visible;
  width: 60px;
  margin: 20px;
}

svg #heart {
  transform-origin: center;
  animation: animateHeartOut 0.3s linear forwards;
}

svg #main-circ {
  transform-origin: 29.5px 29.5px;
}

.checkbox {
  display: none;
}

.checkbox:checked + label svg #heart {
  transform: scale(0.2);
  fill: #e2264d;
  animation: animateHeart 0.3s linear forwards 0.25s;
}

.checkbox:checked + label svg #main-circ {
  transition: all 2s;
  animation: animateCircle 0.3s linear forwards;
  opacity: 1;
}

.checkbox:checked + label svg #grp1 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.checkbox:checked + label svg #grp1 #oval1 {
  transform: scale(0) translate(0, -30px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.checkbox:checked + label svg #grp1 #oval2 {
  transform: scale(0) translate(10px, -50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.checkbox:checked + label svg #grp2 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.checkbox:checked + label svg #grp2 #oval1 {
  transform: scale(0) translate(30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.checkbox:checked + label svg #grp2 #oval2 {
  transform: scale(0) translate(60px, -15px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.checkbox:checked + label svg #grp3 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.checkbox:checked + label svg #grp3 #oval1 {
  transform: scale(0) translate(30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.checkbox:checked + label svg #grp3 #oval2 {
  transform: scale(0) translate(60px, 10px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.checkbox:checked + label svg #grp4 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.checkbox:checked + label svg #grp4 #oval1 {
  transform: scale(0) translate(30px, 15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.checkbox:checked + label svg #grp4 #oval2 {
  transform: scale(0) translate(40px, 50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.checkbox:checked + label svg #grp5 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.checkbox:checked + label svg #grp5 #oval1 {
  transform: scale(0) translate(-10px, 20px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.checkbox:checked + label svg #grp5 #oval2 {
  transform: scale(0) translate(-60px, 30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.checkbox:checked + label svg #grp6 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.checkbox:checked + label svg #grp6 #oval1 {
  transform: scale(0) translate(-30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.checkbox:checked + label svg #grp6 #oval2 {
  transform: scale(0) translate(-60px, -5px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.checkbox:checked + label svg #grp7 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.checkbox:checked + label svg #grp7 #oval1 {
  transform: scale(0) translate(-30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.checkbox:checked + label svg #grp7 #oval2 {
  transform: scale(0) translate(-55px, -30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.checkbox:checked + label svg #grp2 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.checkbox:checked + label svg #grp3 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.checkbox:checked + label svg #grp4 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.checkbox:checked + label svg #grp5 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.checkbox:checked + label svg #grp6 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.checkbox:checked + label svg #grp7 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #dd4688;
  }
  55% {
    transform: scale(11);
    opacity: 1;
    fill: #d46abf;
  }
  65% {
    transform: scale(12);
    opacity: 1;
    fill: #cc8ef5;
  }
  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.5;
  }
  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.2;
  }
  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.1;
  }
  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0;
  }
}

@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animateHeartOut {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
