/* css는 따로 추가한 내용 없습니다 */

* {
	box-sizing: border-box;
	margin:0;
	font-family:'Lato', sans-serif;
}


a {
	text-decoration: none;
}

button {
	margin:0;
	outline: none;
	border: 0px;
	background-color: #ffffff00;
}


.header{
	position: fixed;
	height: 60px;
	width: 100%;
  top: 0px;
	background-color: red;


}

.drop-down {
	margin: 16px;
	width: 28px;

}

.menu {
	list-style-type: none;
	color: #000;
}


.drop-down-menu {
	display: block;
	position: fixed;
	top: 0px;

}

.main-menu{
	display: none;
	margin-left: 24px;
	top:40px;
	left: 60px;
	font-weight: 100;
	font-size: 28px;
	line-height: 2.1428571429;
	color:#000;
	width: 100vw;
	height: 100%;
	background-color:rgba( 255, 255, 255, 0.7 );
      }






.main-menu li {
	display: block;
	color: #000;
	position: absolute;
	margin-top: 20px;
	letter-spacing: -0.08em;

}


.sub-menu:nth-child(1) {
	margin-top: 20px;
}

.title {
	position: fixed;
	top: 14px;
	left: 148px;
	/* font-weight: 100; */
	color: #000;
}

.login-button {
	position: fixed;
	top: 0;
	right: 0px;
	margin:16px;
	width: 28px;
	height: 28px;
}

.main-section {
	position: relative;
}



.ani {
	transition: 0.8s;
	animation-duration: 3s;
}

/*Scroll event*/
.header.show {
	height: 20px;
	background-color: blue;
}

.title.show {
	top: -2px;
	left:20px;
	font-size: 17px;

}
.login-button.show{
	width: 15px;
	top: -20px;
  right: -10px;
}


.drop-down.show {
    width: 17px;
    position: fixed;
    right: 9px;
    top: -21px;
}