body,
html {
    margin: 0;
}
#container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 100px;
}
.album {
    height: 600px;
    width: 100%;
    overflow: hidden;
}
.images {
    display: flex;
    height: 600px;
    width: 1280px;
    transition-property: transform;
    transition-duration: 1s;
}
.image {
    width: 1280px;
    height: 600px;
}
#image1 {
  padding-left: 240px;
  height: -webkit-fill-available;
}
#image2 {
  padding-left: 735px;
  height: -webkit-fill-available;
}
#image3 {
  padding-left: 786px;
  height: -webkit-fill-available;
}

button {
    width: 100px;
    height: 30px;
    border: none;
    color: white;
    background-color: none;
}
/* button:disabled{
    background-color: gray;
} */
.prev {
    float: left;
    transform: translateY(-250%);
}
.next {
    float: right;
    transform: translateY(-250%);
}

.dayTemp {
	text-align: center;
    margin: 20px auto;
}